* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, p {
    margin: 0;
}

.container {
    max-width: 1178px;
    margin: 0 auto;
}

.block {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-background {
    background-color: #FFF7F4; 
}

.nav__item, .block--main__link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none; 
}

.nav__item {
    margin: 0 15px;
    color: #373737;
}

.nav__item:last-child {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #373737;
}

.block--main {
    padding-bottom: 150px;
}

.block--main__link {
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    border-radius: 5px;
    background-color: #FF5300;
}

.block--main__title {
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #373737;
}

.block--main__content {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.block--main__cols {
    display: flex;
    align-items: center;
}

.block--wwd__top{
    text-align: center;
}

.block--wwd__help-txt {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
    text-align: center;
}

.block--wwd__help-txt:after, .block--wwd__help-txt:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #FF5300;
}

.block--wwd__help-txt:after {
    right: -49px;
}

.block--wwd__help-txt:before {
    left: -49px;
}

.block--wwd__title {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
}

.block--wwd__cols {
    display: flex;
    flex-wrap: wrap;
}

.block--wwd__items {
    position: relative;
    width: 33.33%;
    padding: 15px;
}


.block--wwd__content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.block--wwd__items .block--wwd__content:before {
    width: 83px;
    height: 74px;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 64px;
    line-height: 73px;
    font-weight: 600;
    color: #EFEFEF;
    text-align: right;
}

.block--wwd__items:first-child .block--wwd__content:before {
    content: '01';
}

.block--wwd__items:nth-child(02) .block--wwd__content:before {
    content: '02';
}

.block--wwd__items:nth-child(03) .block--wwd__content:before {
    content: '03';
}

.block--wwd__items:nth-child(04) .block--wwd__content:before {
    content: '04';
}

.block--wwd__items:nth-child(05) .block--wwd__content:before {
    content: '05';
}

.block--wwd__items:nth-child(06) .block--wwd__content:before {
    content: '06';
}

.block--wwd__items__title {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
}

.block--wwd__items__type {
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
}

.block--wwd__items__desc {
    font-size: 16px;
    line-height: 24px;
}
