* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1178px;
    margin: 0 auto;
}

.block {
    padding-top: 120px;
    padding-bottom: 120px;
}


.block__top {
    margin-bottom: 10px;
    text-align: center;
}

.block__title {
    margin-bottom: 20px;
    font-size: 39px;
    line-height: 58px;
    font-weight: 600;

}

.block__help-txt {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #FF5300;
}

.block__help-txt:after, .block__help-txt:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #FF5300;
}

.block__help-txt:after {
    right: -49px;
}

.block__help-txt:before {
    left: -49px;
}

.block__text {
    font-size: 16px;
    line-height: 24px;
    color: #7B7B7B;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-background {
   background-color: #FFF7F4; 
}

.nav__item, .block--main__link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none; 
}

.nav__item {
    margin: 0 15px;
    color: #373737;
}

.nav__item:last-child {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #373737;
}

.block--main {
    padding-bottom: 150px;
}

.block--main__link {
    display: inline-block;
    padding: 10px 22px;
    color: #fff;
    border-radius: 5px;
    background-color: #FF5300;
}

.block--main__title {
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #373737;
}

.block--main__content {
    margin-bottom: 30px;
}

.block--main__cols {
    display: flex;
    align-items: center;
}

.block--wwd__cols {
    display: flex;
    flex-wrap: wrap;
}

.block--wwd__top{
    margin-bottom: 10px;
    text-align: center;
}

.block--wwd__cols {
    display: flex;
    flex-wrap: wrap;
}

.block--wwd__items {
    width: 33.33%;
    padding: 15px;
}

.block--wwd__content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.block--wwd__items .block--wwd__content:before {
    width: 83px;
    height: 74px;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 64px;
    line-height: 73px;
    font-weight: 600;
    color: #EFEFEF;
    text-align: right;
}

.block--wwd__items:first-child .block--wwd__content:before {
    content: '01';
}

.block--wwd__items:nth-child(02) .block--wwd__content:before {
    content: '02';
}

.block--wwd__items:nth-child(03) .block--wwd__content:before {
    content: '03';
}

.block--wwd__items:nth-child(04) .block--wwd__content:before {
    content: '04';
}

.block--wwd__items:nth-child(05) .block--wwd__content:before {
    content: '05';
}

.block--wwd__items:nth-child(06) .block--wwd__content:before {
    content: '06';
}

.block--wwd__items__title {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
}

.block--wwd__items__type {
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
}
.block--about__content {
    display: flex;
}

.block--about__left, .block--about__right {
    width: 50%;
}

.block--about__help-txt:before {
    display: none;
}

.block--about__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block--about__li {
    position: relative;
    padding-left: 37px;
    margin-bottom: 15px;
    color: #373737;
}

.block--about__li:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z' fill='%23FF5300'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
}

.block--about__text {
    margin-bottom: 20px;
}

.block--about__picture {
    display: block;
    padding-left: 20px;
}

.block--cs__list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
}

.block--cs__link {
    display: inline-block;
    min-width: 110px;
    padding: 15px 38px;
    font-size: 20px;
    line-height: 30px;
    color: #7B7B7B;
    text-decoration: none;
    text-align: center;
}

.block--cs__li--active .block--cs__link,
.block--cs__link:hover {
    color: #fff;
    border-radius: 10px;
    background-color: #FF5300;
}

.block--cs__boxes {
    display: flex;
    flex-wrap: wrap;
}

.block--cs__box-item {
    position: relative;
    width: 33.33%;
}

.block--cs__hover {
    display: none;
    position: absolute;
    top: 42px;
    bottom: 42px;
    left: 62px;
    right: 62px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 83, 0, .75);
}

.block--cs__box-item:hover .block--cs__hover {
    display: flex;
}

.block--cs__hover__title {
    margin-top: 15px;
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    color: #fff;
}

.block--cs__picture {
    display: flex;
}

.block--cs__img {
    width: 100%;
    height: 100%;
}

